
<div class="card-group">
    {{#if productos}}
        {{#each productos}}
        <div class="card">
            <form action="/api/carrito/id_carro/productos" method="get" id="form_action">
                <img src="{{this.urlfoto}}" class="card-img-top" alt="{{this.nombre}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.nombre}}</h5>
                    <p class="card-text">{{this.descripcion}}</p>
                    <p class="card-text"><small class="text-muted">${{this.precio}}</small></p>
                </div>
                <br>
                <button class="btn btn-success mt-3">Agegar al carrito</button>
            </form>
        </div>
        {{/each}}
    {{else}}
        <h3 class="alert alert-warning">No se encontraron productos!!</h3>
    {{/if}}
</div>



